@font-face {
    font-family: "Medium";
    src: url('Inter-Regular.ttf');
}

.header {
    width: 1440px;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header__title {
    width: 147px;
    height: 28px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    align-self: center;
    margin-left: 28px;
    
}

.signInButton {
    width: 109px;
    height: 51px;
    color: black;
    border-radius: 5px;
    align-self: center;
    margin-right: 28px;
    font-size: 18px;
    line-height: 28px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 9px;
    text-align: center;
    font-weight: lighter;
    margin-left: auto;
    
 
}

.signInButton__value {
    text-decoration:
}

.signUpButton {
    width: 109px;
    height: 51px;
    border: 1px solid rgba(82, 196, 26, 1);
    color: rgba(82, 196, 26, 1);
    border-radius: 5px;
    align-self: center;
    margin-right: 28px;
    font-size: 18px;
    line-height: 28px;
    font-family: "Regular", Arial, Helvetica, sans-serif;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 9px;
    text-align: center;
    font-weight: lighter;
   
    
    
}

.createArticleButton {

    width: 112px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgba(82, 196, 26, 1);
    border: 1px solid rgba(82, 196, 26, 1);
    text-align: center;
    padding-top: 6px;
    margin-right: auto;
    font-family: "Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    align-self: center;
}